In [1]:
import os, sys
import pandas as pd

In [2]:
ground_truths = pd.read_csv('raw/train_solution_bounding_boxes.csv')
ground_truths

               image        xmin        ymin        xmax        ymax
0     vid_4_1000.jpg  281.259045  187.035071  327.727931  223.225547
1    vid_4_10000.jpg   15.163531  187.035071  120.329957  236.430180
2    vid_4_10040.jpg  239.192475  176.764801  361.968162  236.430180
3    vid_4_10020.jpg  496.483358  172.363256  630.020260  231.539575
4    vid_4_10060.jpg   16.630970  186.546010  132.558611  238.386422
..               ...         ...         ...         ...         ...
554   vid_4_9860.jpg    0.000000  198.321729   49.235251  236.223284
555   vid_4_9880.jpg  329.876184  156.482351  536.664239  250.497895
556   vid_4_9900.jpg    0.000000  168.295823  141.797524  239.176652
557   vid_4_9960.jpg  487.428988  172.233646  616.917699  228.839864
558   vid_4_9980.jpg  221.558631  182.570434  348.585579  238.192196

[559 rows x 5 columns]

In [3]:
saved_path = 'data/ground_truths/'
if not os.path.exists(saved_path):
    os.mkdir(saved_path)

In [4]:
ground_truths

               image        xmin        ymin        xmax        ymax
0     vid_4_1000.jpg  281.259045  187.035071  327.727931  223.225547
1    vid_4_10000.jpg   15.163531  187.035071  120.329957  236.430180
2    vid_4_10040.jpg  239.192475  176.764801  361.968162  236.430180
3    vid_4_10020.jpg  496.483358  172.363256  630.020260  231.539575
4    vid_4_10060.jpg   16.630970  186.546010  132.558611  238.386422
..               ...         ...         ...         ...         ...
554   vid_4_9860.jpg    0.000000  198.321729   49.235251  236.223284
555   vid_4_9880.jpg  329.876184  156.482351  536.664239  250.497895
556   vid_4_9900.jpg    0.000000  168.295823  141.797524  239.176652
557   vid_4_9960.jpg  487.428988  172.233646  616.917699  228.839864
558   vid_4_9980.jpg  221.558631  182.570434  348.585579  238.192196

[559 rows x 5 columns]

In [5]:
len(ground_truths['image'].unique())

355

In [6]:
len(ground_truths)

559

In [7]:
for idx in range(0, len(ground_truths)):
    filename = ground_truths.iloc[idx]['image'].split('.')[0] + '.txt'
    saved_path = os.path.join(saved_path, filename).replace('\\', '/')
    f = open(saved_path, "w")
    f.close()

In [9]:
for idx in range(0, len(ground_truths)):
    filename = ground_truths.iloc[idx]['image'].split('.')[0] + '.txt'
    saved_path = os.path.join(saved_path, filename).replace('\\', '/')
    fp = open(saved_path, "a")
    text = f"car {ground_truths['xmin'].iloc[idx]} {ground_truths['ymin'].iloc[idx]} {ground_truths['xmax'].iloc[idx] - ground_truths['xmin'].iloc[idx]} {ground_truths['ymax'].iloc[idx] - ground_truths['ymin'].iloc[idx]}"
    print(text, file = fp)
    fp.close()